.auth {
    margin: 3rem auto;
    width: 95%;
    max-width: 22rem;
    border-radius: 6px;
    background-color:#4d9482;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
    color: white;
  }
  
  .auth h1 {
    text-align: center;
    color: white;
  }
  
  .control {
    margin-bottom: 0.5rem;
  }
  
  .control label {
    display: block;
    color: white;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .control input {
    font: inherit;
    background-color: #f1e1fc;
    color: #38015c;
    border-radius: 4px;
    border: 1px solid white;
    width: 80%;
    text-align: left;
    padding: 0.25rem;
  }
  
  .actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .actions button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: #314196;
    border: 1px solid #9f5ccc;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
  }
  
  .actions button:hover {
    background-color: #873abb;
    border-color: #873abb;
  }
  
  .actions .toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: #9f5ccc;
    border: none;
    padding: 0.15rem 1.5rem;
  }
  
  .actions .toggle:hover {
    background-color: transparent;
    color: #ae82cc;
  }

  .select {
    width: 80px; 
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid white;
    background-color: #f1e1fc;
    color: #38015c;
    margin-left: 20px;
    border-radius: 6px;
  }

  .list {
    font: inherit;
    background-color: #f1e1fc;
    color: #38015c;
    border-radius: 4px;
    border: 1px solid white;
    width: 50%;
    text-align: center;
    padding: 0.25rem;
    margin: auto;
  }

  .listitem {
    margin-left: 40px;
  }


  .dark-theme {
    background-color: #333;
    color: rgb(66, 48, 48);
  }
  
  .dark-theme h1 {
    color: #fff;
  }
  
  .dark-theme a {
    color: #00e676;
  }
  
  .dark-theme input,
  .dark-theme textarea {
    background-color: #444;
    border-color: #00e676;
    color: #fff;
  }
  